.form {
  width: 50%;
  height: auto;
  margin: 10% auto;
  box-shadow: $light-shadow;
  border-radius: $borderRadius;
  background: $whiteColor;
  .form-nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 4rem;
    // margin-bottom: -0rem;
    .signin-nav {
      padding: 15px 2rem;
      text-align: center;
      color: #333;
      width: 100%;
      border-top-left-radius: $borderRadius;
      transition: $transition;
      font-size: medium;
      font-weight: $boldFont;
      border: none;
      &:hover {
        background: $secondaryColorGrey;
        text-decoration: none;
      }
    }
    .signup-nav {
      padding: 15px 2rem;
      text-align: center;
      font-weight: $boldFont;
      color: $darkColor;
      font-size: medium;
      width: 100%;
      border-top-right-radius: $borderRadius;
      transition: $transition;
      &:hover {
        background: $secondaryColorGrey;
        text-decoration: none;
      }
    }
    .active {
      border: solid 2px $greyColor;
      border-bottom: none;
    }
    .border {
      border-bottom: solid 2px $greyColor;
    }
  }

  .login {
    .form-title {
      text-align: center;
      font-weight: $boldFont;
      margin: 1rem 0;
      // font-family: $ff-secondary;
      color: $fontGreyColor;
      font-size: medium;
      text-transform: capitalize;
    }
    .form-logo {
      width: 13%;
      height: auto;
      margin: 0 auto;
      padding-top: 2rem;
    }
    .form-body {
      border: solid 2px $greyColor;
      // border-radius: $borderRadius;
      border-top: none;
      form {
        padding: 2rem 3rem;
      }
    }
    button {
      display: block;
      width: 100%;
      padding: 10px;
      font-weight: bold;
      background: $primaryColor;
      border-radius: $borderRadius;
      border: transparent;
      font-size: medium;
      color: $whiteColor;
      transition: $transition;
      border: solid 1px $primaryColor;
      text-transform: uppercase;
      &:hover {
        background: transparent;
        border: solid 1px $primaryColor;
        color: $primaryColor;
      }
    }
    .reg-form .form-group {
      // margin-bottom: 1.5rem;
      .input-icons {
        position: relative;
        i {
          position: absolute;
          padding: 10px 10px;
          color: $fontGreyColor;
        }
      }
      .label {
        font-size: small;
        font-weight: $boldFont;
        margin-bottom: -20px;
      }
      .label {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        a {
          color: $primaryColor;
        }
      }
      .input,
      select {
        display: block;
        width: 100%;
        padding: 10px 30px;
        font-size: small;
        border: none;
        border: solid 1px $greyColor;
        -webkit-border: solid 1px $greyColor;
        border-radius: $borderRadius;
        margin-top: 2px;
        transition: $transition;
        background: transparent;
        &[type='password']::placeholder {
          padding-left: 1px;
        }
        &:focus {
          border: none;
          outline: none;
          border-bottom: 2px solid $secondaryColor;
        }
      }
    }
  }
  .drop {
    display: flex;
    align-items: center;
    margin-top: -1rem;
    .privacy-details {
      margin-left: -1rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .form {
    width: 100%;
    .form-nav {
      height: 3rem;
    }
    .login {
      .form-title {
        margin-bottom: 10px 0;
      }
      .form-logo {
        padding-top: 1rem;
      }
      .form-body {
        form {
          padding: 1rem 1rem;
        }
      }
      form .form-group {
        margin-bottom: 0.5rem;
        .form-col {
          margin-top: 0.5rem;
        }

        .input-icons {
          i {
            position: absolute;
            padding: 13px 10px;
            color: $fontGreyColor;
          }
        }
      }
    }
    .circle-grey {
      width: 700px;
      height: 700px;
      border-radius: 50%;
      background: #f0f0f0ee;
      z-index: -2;
      position: absolute;
      left: -6rem;
      bottom: -15rem;
    }
    .circle-red {
      width: 600px;
      height: 600px;
      border-radius: 50%;
      background: #f5adad2a;
      z-index: -2;
      position: absolute;
      right: -6rem;
      bottom: 2rem;
    }
    .drop {
      display: flex;
      align-items: center;
      margin-top: 1rem;
      .privacy-details {
        margin-left: -1rem;
        
      }
    }
  }

}

.circle-grey {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  background: #f0f0f0ee;
  z-index: -2;
  position: fixed;
  left: -6rem;
  bottom: -15rem;
}
.circle-red {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: #f5adad2a;
  z-index: -2;
  position: fixed;
  right: -6rem;
  bottom: 2rem;
}
